<%- include("header", {}) %>
<h1><%= title %></h1>
<p>Welcome to Restricted</p>
<%- include("chat", {}) %>
<script src="/socket.io/socket.io.js" defer></script>
<script src="scripts/script.js" defer></script>
<%- include("footer", {}) %>
